<div class="max-w-5xl mx-auto flex justify-center items-center rounded-lg h-[70%]">
    <!-- Form section -->
    <div class="w-full md:w-[43%] bg-white flex flex-col justify-center h-full rounded-l-lg mt-48 p-12">
        <div class="mt-8 mb-3">
            <h1 class="font-semibold text-xl leading-9">Create an account</h1>
            <p class="text-xs text-[#C6C8CD]">Enter the fields below to get started.</p>
        </div>
        <form action="" class="flex flex-col gap-4">
              <!-- Name -->
              <div class="flex flex-col gap-3">
                <label for="" class="font-semibold">Name: <span class="text-[#E43F52]">*</span></label>
                <div
                    class="flex items-center rounded-md px-5 py-[0.375rem] text-[#3C4858] border border-gray-300 focus:border focus:border-blue-700 gap-4">
                    <i class="fa-regular fa-user"></i>
                    <input type="text" placeholder="Name" class="] outline-none placeholder:text-[#3C4858]">
                </div>
            </div>
            <!-- Email -->
            <div class="flex flex-col gap-3">
                <label for="" class="font-semibold">Email: <span class="text-[#E43F52]">*</span></label>
                <div
                    class="flex items-center rounded-md px-5 py-[0.375rem] text-[#3C4858] border border-gray-300 focus:border focus:border-blue-700 gap-4">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" placeholder="example@gmail.com"
                        class="] outline-none placeholder:text-[#3C4858]">
                </div>
            </div>
            <!-- Password -->
            <div class="flex flex-col gap-3">
                <label for="" class="font-semibold">Password: <span class="text-[#E43F52]">*</span></label>
                <div
                    class="flex items-center rounded-md px-5 py-[0.375rem] text-[#3C4858] border border-gray-300 focus:border focus:border-blue-700 gap-4">
                    <img src="../../assets/password.png" alt="" class="w-5 h-fit">
                    <input type="text" placeholder="Password"
                        class="] outline-none placeholder:text-[#3C4858]">
                </div>
            </div>
            <!-- Button -->
            <button class="bg-blue-700 w-full text-white py-3 md:px-5 px-8 rounded-md hover:bg-blue-600 transition-all ease-in duration-300 font-normal mt-2">Create an account</button>
        </form>
    </div>
    <!-- Image section -->
    <!-- <div class="hidden md:flex w-[40%] bg-[#F3F5F9] justify-center items-center h-full rounded-l-lg mt-48 p-12">
        <img src="assets/signin.svg" alt="" class="">
    </div> -->
</div>